* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #5bbb00;
    background: url('/assets/images/Layer-7.jpg') 60% 0 no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}
