* {
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #5bbb00;
    background: url('/assets/images/Layer-7.jpg') top center no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}
