.call-to-action {
    
    font-family: 'Montserrat', sans-serif;
    padding-top: 21.875rem;

    @mixin atLarge {
        padding-top: 31.25rem;
    }

    @mixin atUltraWide {
        padding-top: 6.35rem;
    }
    
    &__headline {
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 2;
        font-weight: 700;
        margin-bottom: 1.2em;
        margin-left: 1.18rem;

        @mixin atSmall {
            font-size: 2rem;
            line-height: 1.4;
        }

        @mixin atLarge {
            line-height: 1.6;
            margin-bottom: 0.5em;
        }

        @mixin atUltraWide {
            margin-bottom: 0.44em;
        }
    }
    
    &__headline--bg-red {
        background-color: $primaryRed;
        padding-top: 0.93rem;
        padding-bottom: 0.93rem;

        /* To achieve unifrom left and right padding on multi-line text */
        -moz-box-shadow: 1.18rem 0 0 $primaryRed, -1.18rem 0 0 $primaryRed;
        -webkit-box-shadow: 1.18rem 0 0 $primaryRed, -1.18rem 0 0 $primaryRed;
        box-shadow: 1.18rem 0 0 $primaryRed, -1.18rem 0 0 $primaryRed;

        /* Fix for firefox */
        box-decoration-break: clone;
    }

    &__description {
        font-size: 0.98rem;
        line-height: 1.5;
        margin-bottom: 1.2em;

        @mixin atSmall {
            font-size: 1.06rem;
            line-height: 1.25;
        }
        
        @mixin atUltraWide {
            margin-left: 1em;
        }
    }

    &__btn {

        /* hiding the button on small screens*/
        position: absolute;
        left: -9999px;

        @mixin atUltraWide {
            position: relative;
            left: 0;
            font-size: 1.43rem;
            font-weight: 700;
            line-height: 1.25;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            display: inline-block;
            padding: 1.25rem 5rem;
            background-color: #26ae39;
            box-sizing: border-box;
        }

        &:hover {
            background-color: $primaryGreen;
        }
    }
}