.call-to-action {
    
    font-family: 'Montserrat', sans-serif;
    
    &__headline {
        text-transform: uppercase;
        font-size: 2.25rem;
        line-height: 1.4;
        font-weight: 700;
        margin-bottom: 0.44em;
        margin-left: 1.18rem;
    }
    
    &__headline--bg-red {
        background-color: $primaryRed;
        padding-top: 0.93rem;
        padding-bottom: 0.93rem;

        /* To achieve unifrom left and right padding on multi-line text */
        -moz-box-shadow: 1.18rem 0 0 $primaryRed, -1.18rem 0 0 $primaryRed;
        -webkit-box-shadow: 1.18rem 0 0 $primaryRed, -1.18rem 0 0 $primaryRed;
        box-shadow: 1.18rem 0 0 $primaryRed, -1.18rem 0 0 $primaryRed;

        /* Fix for firefox */
        box-decoration-break: clone;
    }

    &__description {
        font-size: 1.06rem;
        line-height: 1.25;
        margin-bottom: 0.88em;
        margin-left: 1em;
    }

    &__btn {
        font-size: 1.43rem;
        font-weight: 700;
        line-height: 1.25;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 1.25rem 5rem;
        background-color: #26ae39;
        box-sizing: border-box;
    }
}