.level {

    max-width: 95%;
    margin-left: auto;
    margin-right: auto;

    &__section-headline {
        font-size: 1.32rem;
        font-weight: 500;        
        text-align: center;
        margin-bottom: 1.43em;
    }

    &__indicator {
        background-color: $primaryRed;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        padding: 2rem 2.06rem 2rem;

        &__heading {
            font-size: 1.329rem;
            margin-bottom: 0.89em;
            display: block;    
        }

        &__digit {
            font-size: 5.31rem;
            margin: 0;
        }
    }

    &__progress {
        background-color: #fff;
        color: #282c37;
        padding: 1.43rem 2.68rem;

        &__text {
            font-size: 0.88rem;
            font-weight: 500;
            margin-bottom: 0;
        }

        &__description {
            margin-bottom: 1.25em;
            
            &__current {
                font-size: 1.329rem;
                font-weight: 500;
            }

        }

        &__bounds {
            margin-top: 0.6em;

            &__min-max {
                font-weight: 400;
                font-size: 0.775rem;
            }
        }

    }
}