.row{

    @mixin atLarge {
        display: flex;    
    }

    &--gutters {
        @mixin atLarge {
            justify-content: space-between;
        }
    }


    &__6 {
        flex: 1;
        
    }

    &__large__4 {
        @mixin atLarge {
            flex: 1;     
        }
    }

    &__3 {
        flex: 1;
    }

    &__9 {
        flex: 3;
    }

}