.step {

    background-color: #0f7c0c;
    text-align: center;
    padding: 1.25rem 4.375rem 2.81rem;
    width: 100%;
    margin-bottom: 10px;
    
    @mixin atLarge {
        max-width: 288px;
        margin-bottom: 0;
    }

    &__count {
        font-size: 3.24rem;
        background: url('/assets/images/leaf.png') center center no-repeat;
        width: 128px;
        height: 118px;
        line-height: 118px;
        margin-left: auto;
        margin-right: auto;
    }

    &__headline {
        font-size: 1.015rem;
        font-weight: 500;
        line-height: 1.3;
        text-transform: uppercase;
    }

    &__description {
        font-size: 0.91rem;
        line-height: 1.5;
    }


}